.categories{
    margin: 0 4%;
}
.categories h1{
    color: rgb(61, 60, 60);
    margin-bottom: 40px;
    /* text-align: start; */
}
.categories_list {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:auto auto auto auto;
    /* display: flex;
    flex-direction: row; */
}
.category_box {
    width: 250px;
    border: 2px solid black;
}
.category_img{
    width: 200px;
    height: 200px;
}